/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 sep 2020, 1:29:39
    Author     : ivana
*/
.date-picker{
    -fx-base: #2a2d4d;
    -fx-prompt-text-fill: #B2B2B2;
}

.date-picker .text-field{
    -fx-text-fill: white;
    -fx-font: bold 16px "Courier";
}
.rb{
   -fx-text-fill: white;
   -fx-font: bold 16px "Courier"; 
   -jfx-unselected-color: white;
   -jfx-selected-color: royalblue;
}
.raiz{
    -fx-background-color: #2a2d4d;
}
.texto{
    -fx-text-fill: white;
    -fx-font: bold 12pt "Courier";
}

.campos_texto_1{
    -jfx-unfocus-color: #B2B2B2;
    -jfx-focus-color: white;
    -fx-prompt-text-fill: #B2B2B2;
    -fx-font: bold 14pt "Courier";
    -fx-text-fill: derive(white, 20%);
}
.comboBox{
    -fx-background-color: transparent;
    -fx-prompt-text-fill: #B2B2B2;
    -fx-font: bold 11pt "Courier";
    -fx-text-fill: white;
    -jfx-unfocus-color: #B2B2B2;
    -jfx-focus-color: white;
}

.comboBox .list-cell {
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell{
    -fx-background-color: #2a2d4d; 
}

.combo-box-popup .list-view .list-cell:hover{
    -fx-background-color: #363f78;
}

.button{ 
    -fx-rippler-fill:firebrick;
    -jfx-rippler-fill: transparent; 
}

.button_1{
    -fx-background-color: #2b702b;
    -fx-text-fill: white;
    -fx-font: bold 14pt "Courier";
    -fx-border-color: #2b702b;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -jfx-button-type: FLAT;
    -jfx-rippler-fill: red;
}

.button_1:hover{
    -fx-background-color: #78c578;
    -fx-text-fill: white;
}

.button_2{
    -fx-background-color: #990000;
    -fx-text-fill: white;
    -fx-font: bold 14pt "Courier";
    -fx-border-color: #990000;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -jfx-button-type: FLAT;
    -jfx-rippler-fill: red;
}

.button_2:hover{
    -fx-background-color: #b84747;
    -fx-text-fill: white;
}

.lblTitulo_1{
    -fx-font: bold 22pt "Courier";
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}

/*LogIn Exclusivo*/

.buton_close{
    -fx-font: bold 13pt "Times New Roman";
    -fx-text-fill: red;
    -fx-background-color: transparent;
    -fx-border-color: red;
    -fx-border-radius: 8;
}

#imvCedula{
    -fx-opacity: 0.8;
    -fx-image:url('resources/id-card.png')
}

#imvPassword{
    -fx-opacity: 0.8;
    -fx-image:url('resources/key.png')
}

#imvLogIn{
    -fx-opacity: 0.8;
    -fx-image:url('resources/login.png')
}

#imvMinimizar{
    -fx-opacity: 0.8;
    -fx-image:url('resources/minimize.png')
}

#lblRestablecer{
    -fx-text-fill:#B2B2B2;
    -fx-font: bold 16px "Courier";
    -fx-alignment: CENTER;
}

#lblRestablecer:hover{
    -fx-text-fill: white;
}

.cb {
    -jfx-unchecked-color: #B2B2B2;
    -jfx-checked-color: #0f9d58;
    -fx-text-fill: white;
    -fx-font: bold 16px "Courier";
    -fx-border-color:#B2B2B2;
    -fx-border-width: 0 0 1 0;
}

/*Principal Exclusivo*/

.marco{
    -fx-background-color: #2a2746;
}

.titled-pane {
    -fx-text-fill: #B2B2B2;
    -fx-font: bold 12pt "Courier";
}

.titled-pane:selected {
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 0 0 0 5;
}

.titled-pane:hover .title{
    -fx-background-color: #2a2d4d;
    -fx-border-color: #2a2d4d;
    -fx-border-width: 0 0 0 5;
}

.titled-pane > .title {
    -fx-background-color: #2a2746;
}

.titled-pane > .title > .arrow-button {
    -fx-background-color: null;
}

.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: white;
}

.titled-pane:collapsed > .title > .arrow-button .arrow {
    -fx-rotate: -90;
}

.titled-pane > *.content {
    -fx-background-color: #2a2746;
    -fx-border-color: #2a3167;
 }

.titled-pane:focused > .title > .arrow-button .arrow {
    -fx-background-color: white;
}

#imvInicio{
    -fx-image:url('resources/home.png');
}

#imvEmpleados{
    -fx-image:url('resources/employees.png');
}

#imvAreas{
    -fx-image:url('resources/workplace.png');
}

#imvGastos{
    -fx-image:url('resources/dollar.png');
}

#imvIncidentes{
    -fx-image:url('resources/alert.png');
}

#imvReport{
    -fx-image:url('resources/report.png');
}

#imvTrasaccion{
    -fx-image:url('resources/data-transfer.png');
}

#imvCerrarSesion{
    -fx-image:url('resources/logout.png');
}

#imvParametros{
    -fx-image:url('resources/filter.png');
}

#imvUser{
    -fx-image:url('resources/login.png');
}

#menu{
   -fx-background-color: #2a2746;
}

#menu > .viewport {
   -fx-background-color: #2a2746;
}

#accordioMenu{
    -fx-border-width: 0;
}

#meno:focused{
    -fx-color: #2a2746;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track{
    -fx-background-color: #6262b3;
    -fx-border-color :#6262b3;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button , .scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button , .scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow, .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding : -4 4 4 -4;
}

 .scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding : -4 4 4 -4;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: #2a3167;
}

.scroll-bar:horizontal .thumb:hover, .scroll-bar:vertical .thumb:hover {
    -fx-background-color : #2a4085;
}


#imvMaxRes{
    -fx-image:url('resources/maximize-size-option.png');
}

#imvMin{
    -fx-image:url('resources/minimize.png');
}

#imvClose{
    -fx-image:url('resources/cancel.png');
}

.lblMarco{
    -fx-background-radius: 10;
}

.lblMarco:hover{
    -fx-background-color: #6262b3;
    -fx-opacity: 0.8;
}

.button_3{
    -fx-background-color: #6262b3;
    -fx-text-fill: white;
    -fx-font: italic 14pt "Courier";
    -fx-border-color: #6262b3;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.button_3:hover{
    -fx-background-color: #9797e0;
}

#lblUser{
    -fx-text-fill: white;
    -fx-font: italic 14pt "Courier";
    -fx-alignment: CENTER;
}

#hamMenu StackPane {
    -fx-background-color: white;
}

.menu-item{
    -fx-background-color: #2a2746;
}

#lblCedula, #lblRol{
    -fx-text-fill: white;
    -fx-font: italic 14pt "Courier";
}

#smUser{
    -fx-background-color: #2a2746;
}

#smUser .label {
    -fx-text-fill: white;
    -fx-font: italic 13pt "Courier";
    -fx-background-color: #2a2746;
}

#smUser .arrow {
    -fx-background-color: #2a4085;
}

#smUser .context-menu {
    -fx-background-color: #2a2746;
}

#smUser .menu-button {
    -fx-background-color: red;
}

#imvDark{
    -fx-image:url('resources/sun.png');
}

#imvLight{
    -fx-image:url('resources/moon.png');
}

#tbTema{
    -jfx-toggle-color: #2a4085;
}

#imvHome{
    -fx-opacity: 0.8;
}

#lblHome{
    -fx-background-color: #1d1d1d;
    -fx-opacity: 0.7;
}


.table-view{
    -fx-control-inner-background: whitesmoke;
    -fx-font: bold 14px "Courier";
    -fx-text-background-color: black;
   /* -fx-focus-color: #3b427c;*/
    -fx-border-color: #3b427c;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view .column-header .label{
    -fx-font: normal 12.60pt "Courier";
    -fx-text-fill: white;
}

.table-view .column-header, .table-view .filler{
    -fx-size: 30;
    -fx-border-width: 0 0 1 0;
    -fx-background-color:  #4c5389;
    -fx-border-color: #3b427c;
    -fx-border-insets: 0 10 0 10;
    -fx-text-fill: #1d1d1d;
}

.table-row-cell{
    -fx-background-color: whitesmoke;
    -fx-text-fill: #1d1d1d;
    -fx-font: bold 14px "Courier";
}

.table-view:focused .table-row-cell:filled:focused:selected{
    -fx-background-color: #4c5389;
    -fx-opacity: 5;
    -fx-text-background-color: white;
    -fx-table-cell-border-color: #4c5389;
    -fx-table-header-border-color: #4c5389;  
    -fx-opacity: 0.9;
}

.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: linear-gradient(to top, #6e78bf, #363f78 80%, #6e78bf);
}

.tab-pane {
    -fx-tab-min-width:120px;
    -fx-tab-max-width:120px;
    -fx-tab-min-height:30px;
    -fx-tab-max-height:30px;
}

.tab {
    -fx-font-family: Arial;
    -fx-font-size: 18;
    -fx-background-color:#434c7f ;  
}

.tab-label{
    -fx-text-fill: white;
}

.tab:selected {
    -fx-background-color:#6e78bf ;
    -fx-focus-color: #6e78bf;
}